body {
    font-family: Vazirmatn, sans-serif;
    padding-top: 89px;  /*ارتفاع هدر  */ /* فاصله محتوا از هدر */
}


/* -------------------------------------------صفحه خانه--------------------------------------------- */
  #home .btn-purple {
    /* background-color:#6d28d9; */
    background: linear-gradient(90deg, #9828d9, #b582d3);
    border:none;
    color:white;
     border-radius: 5px; 
    transition: all 0.3s ease;
  }

    #home .btn-purple:hover {
    /* background: linear-gradient(90deg, #9828d92a, #b582d350); */
    background: linear-gradient(90deg, #5c1997, #723aa7); /* پررنگ‌تر */
    transform: translateY(-2px);
     box-shadow: 0 6px 15px rgba(168, 71, 188, 0.4); 
  }


  /*----features بخش---*/
  .features {
    background: url('/image/fabric-texture.png') center/cover no-repeat;
    position: relative;
    color: #fff;
  }
  .features .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(126, 101, 138, 0.85), rgba(230, 200, 255, 0.6));
    z-index: 1;
  }
  .features .container {
    z-index: 2;
    position: relative;
  }
  .feature-card {
    transition: all 0.3s ease;
  }
  .feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  }
  .icon i {
    color: #6f42c1;
  }
  /*----features بخش---*/


  /*----آخرین محصولات----*/
    .home-products {
    background: linear-gradient(180deg, #faf5ff 0%, #f3e5f5 100%);
    border-top: 1px solid #ede7f6;
    border-bottom: 1px solid #ede7f6;
  }
  .home-title {
    background: linear-gradient(90deg, #5b1779, #936a9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
  }
  .product-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px rgba(155, 89, 182, 0.1);
  }
  .product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(155, 89, 182, 0.2);
  }
  .product-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.4s ease;
  }
  .product-card:hover .product-img {
    transform: scale(1.05);
  }
  .product-card p {
    color: #4a148c;
    font-size: 1.05rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #7b1fa2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 60% 60%;
  }
  /*----آخرین محصولات----*/


  /* -------------------------------------------صفحه خانه--------------------------------------------- */






/* -------------استایل هدر-------------- */



header .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #4b0082 !important;
  transition: color 0.3s ease;
}
header .nav-link:hover {
  color: #8a2be2 !important; /* بنفش پررنگ‌تر در هاور */
}

header .btn-primary {
  background-color: #8a2be2;
  border: none;
}
header .btn-primary:hover {
  background-color: #6a0dad;
}

header .btn-outline-primary {
  border-color: #8a2be2;
  color: #8a2be2;
}
header .btn-outline-primary:hover {
  background-color: #8a2be2;
  color: #fff;
}

/* header img {
  max-height: 50px;
  border-radius: 8px;
} */

/* -------------استایل هدر-------------- */


.hero-section {
  background-image: url('/image/finalCover.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%; 
}

/* Mobile fix */
@media (max-width: 768px) {
  .hero-section {
    background-size: cover;
    background-position: 60% center; /* از راست کمی بیا وسط؛ 50% هم می‌شود */
    min-height: 90vh; /* ارتفاع کافی تا مانکن کامل دیده شود */
  }

  .hero-section .hero-text {

    margin-right: auto;  /* متن برود سمت چپ */
    margin-left: 0px;
    text-align: left;    /* متن چپ‌چین شود */
    padding-top: 0;   /* متن روی مانکن نیفتد */
    margin-top: 0;
    max-width: 50%;      /* متن فقط فضای خالی را اشغال کند */
  }

  .hero-section .hero-bottom {

    padding-top: 10vh;   

  }


  /* در سرور اضافه شود */
  /* برای داشبورد */
    .dashboard-container {
    flex-direction: column; /* ستون‌ها زیر هم */
    padding: 10px;
  }

  .sidebar {
    width: 100% !important;
    margin-inline-start: 0 !important;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
  }

  .sidebar button {
    font-size: 15px;
    padding: 12px;
  }

  .content {
    width: 100% !important;
    margin: 0 !important;
    padding: 20px;
    border-radius: 15px;
  }

  /* جدول سفارشی برای موبایل اسکرول شود */
  table {
    font-size: 13px;
  }

  .table-responsive {
    overflow-x: auto;
  }
    .table-actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .table-actions a,
  .table-actions button {
    width: 100%;
  }



 
  /* باکس محصول */
  .card .d-flex {
    flex-direction: column;
    text-align: center;
  }

  /* تصویر محصول */
  .card .d-flex > div:first-child {
    margin: 0 auto 15px auto !important;
    width: 100px !important;
    height: 100px !important;
  }


  /* داشبورد  */
   /* در سرور اضافه شود */


}



/* --------------------------استایل های صفحه محصولات----------------------------------------------- */

/* ----استایل های هدر صفحه محصولات---- */
/* هدر با پس‌زمینه بنفش روشن و گرادینت */
.products-header {
  position: relative;
  background: linear-gradient(135deg, #b669da, #61028d);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}
/* یک لایه نیمه‌شفاف برای خوانایی متن */
.products-header .overlay {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 10px;
  border-radius: 15px;
}
/* متن سفید و شفاف */
.products-header h1,
.products-header p {
  color: #fff;
}
/* انیمیشن ساده برای متن */
.header-animate {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}

.header-animate[style*="animation-delay: 0.3s"] { animation-delay: 0.3s; }
.header-animate[style*="animation-delay: 0.6s"] { animation-delay: 0.6s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ----انتهای استایل های هدر صفحه محصولات---- */



.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* تیتر محصول */
.product-card .card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #6b2fa0; /* بنفش تیره */
  margin-bottom: 10px;
}

/* توضیحات محصول */
.product-card .card-text {
  font-size: 0.9rem;
  color: #666; /* خاکستری ملایم */
   line-height: 1.5; /*ارتفاع خط کمی بیشتر */
  min-height: 60px; /* یکدست شدن ارتفاع کارت‌ها */
  
}

/* قیمت محصول */
.product-card .price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #8a2be2; /* بنفش جذاب */
  margin: 10px 0;
}

/* استایل عمومی دکمه‌های محصولات */
.product-card .btn {
  font-weight: 600;
  /* border-radius: 25px; */
  padding: 8px 20px;
  transition: all 0.3s ease;
  min-width: 100px; /* هر دکمه حداقل 100px باشه */
  text-align: center;
}

/* دکمه جزئیات */
.product-card .btn-details {
  background: transparent;
  border: 2px solid #8a2be2; /* بنفش روشن */
  color: #8a2be2;
}
.product-card .btn-details:hover {
  background: #8a2be2;
  color: #fff;
  transform: translateY(-2px);
}

/* دکمه خرید */
.product-card .btn-buy {
  background: linear-gradient(135deg, #b669da, #61028d);
  /* border: none; */
  color: #fff;
  box-shadow: 0 4px 10px rgba(97, 2, 141, 0.3);
}
.product-card .btn-buy:hover {
  background: linear-gradient(135deg, #a44cd1, #52027a);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(97, 2, 141, 0.4);
}
/* --------------------------انتهای استایل های صفحه محصولات-------------------------------- */







/* ---------استایل صفحه جزئیات محصولات-------- */

/* قاب عکس محصول */
.detail-image-wrapper {
  padding: 15px;
  background: #eedcfc;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.detail-image-wrapper:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
/* تیتر محصول خاص */
.detail-product-text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #6b2fa0; /* بنفش تیره */
  margin-bottom: 10px;
}

/* توضیحات محصول خاص */
.detail-product-text .description-text {
  /* font-size: 1.5rem; */
  /* color: #4e4d4d; خاکستری ملایم */
  white-space: normal;      /* متن بشکنه و در خط جدید ادامه پیدا کنه */
  word-wrap: break-word;    /* اگر کلمه خیلی بزرگ بود بشکنه */
  overflow-wrap: break-word;/* نسخه جدیدتر و استاندارد */
  line-height: 1.3;         /* خواناتر شدن فاصله خطوط */
}

/* قیمت محصول خاص */
.detail-product-text .price {
  font-size: 1.9rem;
  font-weight: 700;
  color: #8a2be2; /* بنفش جذاب */
  margin: 10px 0;
}

/* دکمه خرید در محصول خاص*/
.detail-product-text .btn-buy {
  background: linear-gradient(135deg, #b669da, #61028d);
  /* border: none; */
  color: #fff;
  box-shadow: 0 4px 10px rgba(97, 2, 141, 0.3);
}
.detail-product-text .btn-buy:hover {
  background: linear-gradient(135deg, #a44cd1, #52027a);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(97, 2, 141, 0.4);
}

/* دکمه بازگشت در محصول خاص*/
.detail-product-text .btn-details {
  background: transparent;
  border: 2px solid #8a2be2; /* بنفش روشن */
  color: #8a2be2;
}
.detail-product-text .btn-details:hover {
  background: #8a2be2;
  color: #fff;
  transform: translateY(-2px);
}

/* برای انتخاب رنگ در صفحه جزئیات محصول- */
  .color-swatch {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #999;
    display: inline-block;
    background: transparent;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  /* هنگام hover کمی بزرگ شود و درخشان‌تر شود */
  .color-swatch:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }

/* ---------استایل صفحه جزئیات محصولات-------- */




/* ---------استایل صفحه لاگین-------- */

/* دکمه ورود */
.login-page .btn-log {
  background: linear-gradient(135deg, #b669da, #61028d);
  /* border: none; */
  color: #fff;
  box-shadow: 0 4px 10px rgba(97, 2, 141, 0.3);
}
.login-page .btn-log:hover {
  background: linear-gradient(135deg, #a44cd1, #52027a);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(97, 2, 141, 0.4);
}

/* ---------استایل صفحه لاگین-------- */



/* ---------استایل صفحه signup-------- */

/* دکمه ورود */
.signup-page .btn-log {
  background: linear-gradient(135deg, #b669da, #61028d);
  /* border: none; */
  color: #fff;
  box-shadow: 0 4px 10px rgba(97, 2, 141, 0.3);
}
.signup-page .btn-log:hover {
  background: linear-gradient(135deg, #a44cd1, #52027a);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(97, 2, 141, 0.4);
}

/* ---------استایل صفحه signup-------- */


  .dir-rtl {
    direction: rtl;        /* جهت کلی راست به چپ */
    text-align: right;     /* ترازبندی متن به راست */
  }